<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= image_tag "scribble.gif" %>
<body>
  <h1>Scribble</h1><br>
    <nav>
      <% if session[:user] %>
      <a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></h2><br>
    <% else %>
      <a href="/sign_up">Sign up</a><br>
      <a href="/sign_in">Sign in</a><br>
    <% end %>

      <a href="/comments">Comments</a><br>
      <a href="/posts">Posts</a><br>
    </nav>
    <h2><%= flash[:notice] %>
<%= yield %>

</body>
</html>
